@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

#round_summary {
	position: absolute;
	left: 650px;
	top: 400px;
	width: 370px;
	height: 144px;
	z-index: 100;
	background-color: white;
	overflow-x: scroll;
	font-size: medium;
}