@CHARSET "ISO-8859-1";

body {
	background-image: url('../resources/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #4f4f4f;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

.btn:hover {
	background: #000000;
	text-decoration: none;
}

label>input { /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}

label>input+img { /* IMAGE STYLES */
	cursor: pointer;
	border: 2px solid transparent;
}

label>input:checked+img { /* (RADIO CHECKED) IMAGE STYLES */
	border: 2px solid #f00;
}

.error {
	color: #ff0000;
	font-size: 20px;
	text-align: center;
}

.position {
	position: relative;
	text-align: center;
}

.position label {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	position: relative;
	text-align: center;
}

.position label input {
	display: inline-block;
}

.position .clear {
	clear: both;
}

.position .linkBtns {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.position .linkBtns input {
	cursor: pointer;
	margin: 20px 10px 0px 10px;
}

p{
	
	font-family: sans-serif;
	font-size: large;
	color: black;
}